/**YekanBakh**/
@font-face {
  font-family: YekanBakh-Light;
  font-style: normal;
  font-weight: 300;
  src: url("woff/YekanBakhFaNum-Light.woff") format("woff"),
    url("woff2/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("woff/YekanBakhFaNum-Regular.woff") format("woff"),
    url("woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url("woff/YekanBakhFaNum-SemiBold.woff") format("woff"),
    url("woff2/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh-Bold;
  font-style: normal;
  font-weight: bold;
  src: url("woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh-ExtraBold;
  font-style: normal;
  font-weight: 800;
  src: url("woff/YekanBakhFaNum-ExtraBold.woff") format("woff"),
    url("woff2/YekanBakhFaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: Estedad-ExtraBlack;
  font-style: normal;
  font-weight: 950;
  src: url("woff/YekanBakhFaNum-ExtraBlack.woff") format("woff"),
    url("woff2/YekanBakhFaNum-ExtraBlack.woff2") format("woff2");
}

/**Estedad**/
@font-face {
  font-family: Estedad-Light;
  font-style: normal;
  font-weight: 300;
  src: url("./estedad/Estedad-Light.ttf");
}

@font-face {
  font-family: Estedad-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("./estedad/Estedad-Regular.ttf");
}

@font-face {
  font-family: Estedad-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url("./estedad/Estedad-SemiBold.ttf");
}

@font-face {
  font-family: Estedad-Bold;
  font-style: normal;
  font-weight: bold;
  src: url("./estedad/Estedad-Bold.ttf");
}

@font-face {
  font-family: Estedad-ExtraBold;
  font-style: normal;
  font-weight: 800;
  src: url("./estedad/Estedad-ExtraBold.ttf");
}

/**Bahman*/
@font-face {
  font-family: Bahman;
  font-style: normal;
  font-weight: normal;
  src: url("./BAHMAN\ 2.TTF");
}
