/**Estedad**/
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 300;
  src: url("./estedad/Estedad-Light.ttf");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: normal;
  src: url("./estedad/Estedad-Regular.ttf");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 600;
  src: url("./estedad/Estedad-SemiBold.ttf");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: bold;
  src: url("./estedad/Estedad-Bold.ttf");
}

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 800;
  src: url("./estedad/Estedad-ExtraBold.ttf");
}

/**Bahman*/
@font-face {
  font-family: Bahman;
  font-style: normal;
  font-weight: normal;
  src: url("./BAHMAN\ 2.TTF");
}
